:root {
  --cyan: hsl(180, 66%, 49%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --dark-violet: hsl(258, 27%, 26%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --red: hsl(0, 87%, 67%);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 16px;
  overflow-x: hidden;
}
body {
  overflow: hidden;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--cyan);
  color: white;
}
button:hover {
  background: hsl(180, 87%, 65%);
}
.container {
  width: 80%;
  margin: auto;
}

/* HEADER */
.desktop-header .container {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 0;
}
header {
  background: #fff;
}
.logo-img {
  display: flex;
  align-items: center;
  width: 20%;
}
.bullet {
  display: none;
}
.bullet1, .bullet2, .bullet3 {
  height: 4px;
  margin: 3px;
  width: 25px;
  border-radius: 4px;
  background-color: var(--grayish-violet);
  transition: all 0.3s ease;
}
.toggle .bullet1 {
  transform: rotate(-45deg) translate(-3px, 6px);
}
.toggle .bullet2 {
   opacity: 0;
}
.toggle .bullet3{
  transform: rotate(45deg) translate(-4px, -7px);
}
.navigation{
  width: 80%;
  display: flex;
}
.features ul, .sign {
  display: flex;
}
.features {
  flex: 1;
  margin-left: 20px;
}
.feature-link {
  color: var(--grayish-violet);
}
.feature-link:hover {
  color: var(--very-dark-violet);
}
.features ul li {
  padding: 0 15px 0 15px;
}
.sign li {
  padding: 0 12px 0 12px ;
}
.sign-up {
  background: var(--cyan);
  padding: 7px 20px;
  border-radius: 25px;
  color: #fff;
}
.sign-up:hover {
  background: hsl(180, 87%, 65%);
}

/* ILLUSTRATION */
.illustration {
  margin-top: 40px;
  margin-bottom: 200px;
}
.illustration-grid {
  width: 90%;
  display: flex;
  margin-left: auto;
}

.illustration-img {
  width: 55%;
  position: relative;
}
.illustration-img img {
  position: absolute;
  top: 0;
  left: 80px;
  height: auto;
  width: 100%;
}
.more {
  width: 45%;
  padding-top: 90px;
}
.more h1 {
  font-size: 4.5rem;
  line-height: 80px;
  font-weight: 700;
  color: var(--dark-blue);
}
.more p {
  font-size: 18px;
  width: 90%;
  line-height: 28px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: var(--grayish-violet);
}
.more button {
  padding: 10px 30px;
  border-radius: 29px;
  font-size: 15px;
  letter-spacing: 1px;
}

/* GREY */
.grey {
  background: var(--gray);
  background:  hsl(0, 5%, 92%);
  padding-bottom: 180px;
}
.input {
  width: 800px;
  margin: auto;
  padding: 35px 35px 10px 35px;
  display: flex;
  justify-content: space-between;
  background: var(--dark-violet);
  border-radius: 7px;
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 58px;
}
input[type="text"] {
  width: 585px;
  height: 40px;
  outline: none;
  border-radius: 6px;
  border: none;
  padding: 0 20px 0 20px;
}

.red::placeholder{
  color: var(--red);
}
.input button {
  width: 130px;
  border-radius: 6px;
  height: 40px;
  border: none;
}
.input-text p {
  color: var(--red);
  font-style: italic;
  font-size: 14px;
  padding-top: 2px;
  visibility: hidden;
}

/* LIST */
.lists {
  width: 800px;
  margin: auto;
  margin-top: -40px;
}
.list {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.long-link {
  flex: 1;
  color: var(--very-dark-violet);
  width: 100px;
}
.short-link {
  color: var(--cyan);
}
.list button {
  padding: 8px 20px;
  border-radius: 6px;
  margin-left:10px;
}

/* ADVANCED */
.advanced {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.advanced h1, .advanced-intro {
  text-align: center;
}
.advanced h1 {
  font-size: 1.8rem;
  color: var(--very-dark-violet);
  margin-bottom: 7px;
}
.advanced-intro {
  color: var(--grayish-violet);
  margin: auto;
  margin-bottom: 85px;
  width: 44%; 
}
.statistics {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.statistics::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: var(--cyan);
  top: 57%;
  z-index: -1;
}
.stats {
  background: #fff;
  width: 31%;
  padding: 0 23px 30px 23px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.stats h3 {
  margin-top: -15px;
  margin-bottom: 10px;
  color: var(--very-dark-violet);
}
.stats p {
  font-size: 16px;
  line-height: 25px;
  color: var(--grayish-violet);
}
.second-stat {
  position: relative;
  top: 45px;
}
.third-stat {
  position: relative;
  top: 90px;
}
.brand-img {
  background: var(--dark-violet);
  display: grid;
  place-items: center;
  width:75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  bottom: 40px;
}

/* BOOST SECTION */
.boost {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-violet);
  background-image: url("../images/bg-boost-desktop.svg");
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.boost h1 {
  color: white;
}
.boost button {
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 25px;
  margin-top: 15px;
}

/* FOOTER */
footer {
  background: var(--very-dark-violet);
  color: #fff;
  padding: 40px 0 0 0;
}
footer .container {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1fr 0.7fr;
  margin-bottom: 30px;
}
footer li {
  margin-bottom: 5px;
  font-size: 15.5px;
  cursor: pointer;
}
footer li:hover {
  color: var(--cyan);
}
.diff {
  margin-bottom: 15px;
  font-weight: 700;
}
.icons {
  font-size: 20px;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}
.icons i:hover {
  cursor: pointer;
  color: var(--cyan);
}

@media(max-width:1320px) {
  .more {
    padding-top: 50px;
  }
  .more h1 {
    font-size: 4.3rem;
  }
  .more p {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }
  .illustration-img img {
    width: 100%;
  }
}

@media(max-width:1250px) {
  .more {
    padding-top: 10px;
  }
  .more h1 {
    line-height: 75px;
  }
}

@media(max-width:1060px) {
  .illustration-img img {
    width: 120%;
    height: auto;
  }
  .more h1 {
    font-size: 4em;
    line-height: 80px;
  }
  .input {
    width: 80%;
    padding: 35px 35px 13px 35px;
  }
  .input-text {
    width: 78%;
  }
  input[type="text"] {
    width: 100%;
  }
  .input button {
    width: 20%;
  }
  .lists {
    width: 80%;
  }
}

@media(max-width:964px) {
  .illustration-grid {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }
  .illustration-img {
    width: 100%;
    position: relative;
  }
  .more {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .illustration-img img {
    position: relative;
    width: 94%;
    height: auto;
  }
  .more h1 {
    font-size: 3.7rem;
    width: 70%;
    margin: auto;
    line-height: 70px;
    text-align: center;
  }
  .more p {
    width: 80%;
    margin: auto;
  }
  .statistics {
    flex-direction: column;
  }
  .statistics::after {
    width: 10px;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -1;
  }
  .stats {
    width: 325px;
    margin: auto;
    margin-bottom: 30px;
  }
  .brand-img {
    left: 38%;
    bottom: 40px;
  }
  footer .container {
    grid-template-columns: 1.2fr 1fr 1fr 1fr 0.7fr;
  }
}

@media(max-width: 805px){
  .logo-img {
    justify-content: space-between;
    width: 100%;
  }
  .bullet {
    display: block;
    cursor: pointer;
  }
  .navigation{
    position: absolute;
    top: 100px;
    flex-direction: column;
    padding: 20px 30px;
    background: var(--dark-violet);
    border-radius: 10px;
    display: none;
    transition: all 0.4s ease;
    z-index: 5;
  }
  .show-nav {
    display: block;
  }
  .features ul, .sign {
    flex-direction: column;
    text-align: center;
  }
  .features{
    margin-left: 0;
    border-bottom: 2px solid var(--grayish-violet);
    padding-bottom: 10px;
  }
  .sign{
    padding-top: 10px;
  }
  .features ul li, .sign li {
    padding: 15px;
  }
  .navigation a{
    color: white;
  }
  .sign-up {
    padding: 7px 50px;
  }
  .more h1 {
    font-size: 3.3rem;
    width: 95%;
    line-height: 100px;
    margin-bottom: 10px;
  }
  .illustration {
    margin-bottom: 150px;
  }
  .input {
    margin: auto;
    padding: 35px 35px 35px 35px;
    display: flex;
    flex-direction: column;
  }
  .input-text {
    width: 100%;
  }
  .input button {
    width: 100%;
  }
  .input-text p {
    padding: 4px 0;
  }
  .list {
    flex-direction: column;
    align-items: unset;
    margin: auto;
    margin-bottom: 10px;
    overflow-x: hidden;
  }
  .long-link {
    width: 100%;
    padding: 4px 4px 4px 0;
    border-bottom: 1px solid var(--grayish-violet);
    max-width: 100%;
  }
  .short-link {
    padding: 4px 0;
    overflow: hidden;
  }
  .list button {
    padding: 8px 20px;
    border-radius: 6px;
    margin-left:0;
  }
  .advanced-intro {
    width: 90%;
  }
  footer .container {
    text-align: center;
    grid-template-columns: unset;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    width: 60%;
    margin: auto;
  }
  .icons {
    width: 50%;
    margin: 20px auto;
  }
}

@media(max-width:700px){
  .container {
    width: 90%;
    margin: auto;
  }
  .navigation{
    width: 90%;
  }
  .sign-up {
    padding: 7px 90px;
  }
  .more h1 {
    font-size: 2.5rem;
    line-height: 45px;
    width: 100%;
  }
  .more p{
    width: 100%;
    margin-bottom: 10px;
    line-height: 22px;
  }
  .illustration-img img {
    left: 50px;
  }
  .statistics::after {
    width: 10px;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -1;
  }
  .stats {
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
  }
  .brand-img{
    left: 36%;
    bottom: 40px;
  }
}